.mode-selector .grid {
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}

/* Grid ignoring media query (always side-by-side where possible) */
.ignore-mq.grid {
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}

.notification {
  overflow-wrap: break-word;
  font-size: 1.2rem;
  font-weight: 700;
  white-space: pre-wrap;
}

.message-received {
  text-align: left;
}

main {
  min-height: 95vh;
  text-align: center;
}

form {
  text-align: left;
}

article p:last-child {
  margin-bottom: 0;
}