.mode-selector {
  --switch-background-color: var(--switch-checked-background-color);
}

.notification {
  overflow-wrap: break-word;
  font-size: 1.2rem;
  font-weight: 700;
}

.message-received {
  text-align: left;
}

main {
  min-height: 95vh;
  text-align: center;
}

form {
  text-align: left;
}