h3 {
  --typography-spacing-vertical: 0.5rem;
}

.mode-selector article {
  margin-top: 0;
}

/* Preferable mobile-desktop transition for grids - half a 1080p screen */
@media (min-width:958px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}

/* Grid ignoring media query (always side-by-side where possible) */
.ignore-mq.grid {
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}

.notification {
  overflow-wrap: break-word;
  font-size: 1.2rem;
  font-weight: 700;
  white-space: pre-wrap;
}

.message-received {
  text-align: left;
}

main {
  min-height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer.grid.container {
  margin: auto;
  text-align: center;
}

form {
  text-align: left;
}

article p:last-child {
  margin-bottom: 0;
}

.qr-container {
  /* Center the contents */
  margin: auto;
  
  /* This will be programatically adjusted so fixed-height content fits the rendered container */
  transform: scale(1.0);
}

.qr-quiet-zone {
  margin: 0px;
  padding: 16px;
}

.v-align-middle {
  vertical-align: 'middle';
}

.minor-text {
  color: var(--muted-color);
  font-size: 0.9rem;
}